---
import Layout from '../layouts/Layout.astro';
import ThemeSelector from '../components/ThemeSelector.astro';
---

<Layout title="Midas">
  <main>
    <h1>Midas</h1>
    <ThemeSelector />
  </main>
</Layout>
